<div ng-controller="TaskController">

		<form name = "addTaskForm" novalidate>
		
			<input ng-model = "newTaskName" name="taskName" required>
		<span style="color:red" ng-show="addTaskForm.taskName.$dirty && addTaskForm.taskName.$invalid">
			<span ng-show="addTaskForm.taskName.$error.required">Username is required.</span>
		</span>
		<input name="description" ng-model="newTaskDescription">

		  <datepicker>
        <input ng-model="date" type="text">
      </datepicker>
      	
      	<span style="color:red" ng-show="addTaskForm.taskDeadline.$dirty && addTaskForm.taskDeadline.$invalid">
      		<span ng-show="addTaskForm.taskDeadline.$error.required">Deadline is required.</span>
      	</span>

      	ADD ASSIGNED USER
		
		<a class="button" ng-click="addTask()" ng-disabled="addTaskForm.taskName.$dirty && addTaskForm.taskName.$invalid">Add Task</a>
	</form>
</div>