<div ng-controller = "TaskDetailController">

	<div>
	
	<div style="margin-left: 10%; margin-right: 30%">
		<h3>Name: 	{{task.name}} </h3>
		<a id="editTaskButton" class="button" href = "#/editTask{{task._id}}">Edit Task</a>


		<h3>Description: </h3>	<h5>{{task.description}}	</h5>
		<h3>Assigned User: </h3> <h5>{{task.assignedUserName}}</h5>
		<h3>Date Created :</h3> <h5>{{task.dateCreated}}</h5>
		<div>
			<h3>Completed? </h3><h5>{{completed}}</h5>
			<a class="button" ng-click="changeCompletionStatus()">{{Complete}}</a>
		</div>
		<h3>Deadline:</h3><h5> {{task.deadline}}</h5>
	</div>
	</div>
</div>