<div class= "tasksMain" ng-controller="TaskController">
	<div>
		<h1>Tasks</h1>
	</div>
	<div id = "taskControl">
		<form id = "whichTasks">
			<input type="radio" name="all" ng-model="completed" value="all">All
			<input type="radio" name="all" ng-model="completed" value="pending">Pending
			<input type="radio" name="all" ng-model="completed" value="completed">Completed
		</form>

		<a class="button" ng-click="getNext(-10)">Previous</a>
		<a class="button" ng-click="getNext(10)">Next</a>
		<a class="button" href="#/addTask">Add Task</a>

<a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Has Dropdown</a>
<ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" >
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>

		<form id = "ascDesc">
			<input type="radio" name="ascendingDescending" ng-model="ascDesc" value="true" checked>Ascending
			<input type="radio" name="ascendingDescending" ng-model="ascDesc" value="false">Descending
		</form>


	</div>
	<ul id="listOfTasks">
		<li ng-repeat="task in tasks">
			<a href="#/taskDetails{{task._id}}">{{task.name}}</a>
			{{task.assignedUserName}}
			<a class="button" ng-click="deleteTask(task._id)">Delete</a>
		
		</li>
	</ul>
</div>