<div class= "tasksMain" ng-controller="TaskController">
	<div style="margin-left:10%; margin-right:30%">
	<div>
		<h1>Tasks</h1>
	</div>
	<div id = "taskControl">
		<form id = "whichTasks">
			<input type="radio" name="all" ng-model="completed" value="all">All
			<input type="radio" name="all" ng-model="completed" value="pending">Pending
			<input type="radio" name="all" ng-model="completed" value="completed">Completed
		</form>

		<a class="button" ng-click="getNext(-10)" ng-disabled="skip==0">Previous</a>
		<a class="button" ng-click="getNext(10)" ng-disabled="countTasks()">Next</a>
		<a class="button" href="#/addTask">Add Task</a>

		<select ng-model="sortBy">
 			<option value="sortByName">Name</option>
  			<option value="sortByUserName">Assigned User Name</option>
  			<option value="sortByDateCreated">Date Created</option>
  			<option value="sortByDeadline">Deadline</option>
		</select>

		<form id = "ascDesc">
			<input type="radio" name="ascendingDescending" ng-model="ascendingOrder" value="true" checked>Ascending
			<input type="radio" name="ascendingDescending" ng-model="ascendingOrder" value="false">Descending
		</form>


	</div>
	<ul id="listOfTasks">
		<li ng-repeat="task in tasks">
			<h4><a href="#/taskDetails{{task._id}}">{{task.name}}</a></h4>
			<h6 style="padding-left: 40px">Assigned User: {{task.assignedUserName}}</h6>
			<h6 style="padding-left: 40px">Deadline: {{task.deadline}}</h6>
			<a style="left: 100px" class="button" ng-click="deleteTask(task._id)">Delete</a>
		
		</li>
	</ul>
</div>