<div ng-controller= "UserDetailController">
	<div style="margin-left:10%; margin-top:5%">
		<h3>{{user.name}}</h3>
		<h3>{{user.email}}</h3>

		<h2>Pending Tasks</h2>

		<ul>
			<li ng-repeat="task in pendingTasks">
				<a href="#/taskDetails{{task._id}}">{{task.name}}</a>
				Deadline: {{task.deadline}}
				<a class = "button" ng-click="markCompleted(task._id)">Mark as Completed</a>
			</li>
		</ul>

		<a class = "button" ng-click="loadCompletedTasks(user.name)">Load Completed Tasks</a>
		<ul>
			<li ng-repeat="task in completedTasks">
				<a href="#/taskDetails{{task._id}}">{{task.name}}</a>
				Deadline: {{task.deadline}}
			</li>
		</ul>
	</div>
</div>